.container {
    margin-bottom: 100px;
}


.orage-bg {
    background-color: #FEEAE9;
    border-radius: 10px;

   }
.buy-now-bttn {
    padding: 7px;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #ec3982;

}
.carousel-item {
    padding: 20px 40px;
   }
.cat1, .cat2, .cat3 {
 padding: 10px 20px;
 border-radius: 10px;
}
.cat1 {
    background-color: rosybrown;
}
.cat2{
    background-color: sandybrown;
}
.cat3 {
    background-color: purple;
}
.categories h1 {
 color: white;
}
.categories img {
width: 100px;
}
.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer {
    border-top: none;
    background-color: white;
    border-radius: 10px;
}
#subscribe {
    height: 300px;
}
#subscribe h6 {
    color: orange;
}
footer {
    text-align: center;
}